body {
    margin: 0;
    padding: 0;
    font-family: "Merriwether Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: scroll;
}
::-webkit-input-placeholder {
    color: white;
}

button:hover {
    cursor: pointer;
}

input:hover {
    cursor: text;
}

button:active, button:focus, input:active, input:focus {
    outline: none;
}