

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
.edit-modal {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    background: #00B588;
    border-radius: 15px;
    color: white;
    width:70%;
    max-width: 43%;
    height: auto;
    padding: 3px 20px 0 20px;
    height: 400px;
    /* z-index:1000;
    opacity: 1; */
}

.modal-content {
    display: flex;
    flex-direction: row;
    height: 78%;
}

textarea.edit-body {
    width: inherit;
    height: 42%;
    position: relative;
    top: -7px;
    color: #00B588;
    padding: 13px;
}

textarea.edit-body::-webkit-input-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
    color: #00B588;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 44px;
    padding: 0 40px;
}

.btns > .btn {
    border: none;
    border-radius: 4px;
    color: #190927;
    width: 30px;
    height: 15px;
    background-color: #e6e6e6;
    width: 91px;
    height: 27px;
    font-size: 13px;
}

.btns > .btn.save {
    color: rgb(0, 154, 115);
    font-weight: 600;
}
