
.note {
    width: 55%;
    margin: 10px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background: #00B588;
    color: white;
}

.note-details {
    width: 80%;
    padding: 0 0 70px 35px;
    display: flex;
    flex-direction: row wrap;
    align-items: flex-start;
    line-height: 1.2;
}

.note-description {
    margin-left: 15px;
    font-weight: 400;
}

.note-description.text {
    font-size:0.9rem;
}

.btn-section {
    background: #4DB6AC;
    width: 20%;
    border-radius: 15px;
}

.edit-btn {
    font-size: 1.3rem;
    padding: 13%;
    border-radius: 50%;
    background: white;
    color: rgb(0, 181, 136);
}

.btn {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}
